body{
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}
.panel {
	display: flex;
	width: 940px;
	margin: 0 auto;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.panel .slogan{
	padding-top: 15px;
	margin-right: 120px;
}
.panel .phone{
	font-size: 25px;
	border: none;
	margin: 0;
	width: 250px;
	background: #fff;
}
.panel .logo{
	margin-right: 120px;
}
.panel .logo img{
	width: 70px;
}
header{
	background-image: url(../images/headerbg1.jpg) ;
	background-repeat: no-repeat;
	min-height: 699px;
	background-position: top center;
	position: relative;
	background-size: cover;
}
.inheader{
	min-height: 400px;
}
.dark{
	background-color: rgba(0,0,0,.5);
	min-height: 699px;
	position: absolute;
	top: 0px;
	width: 100%;
}
.h1{
	text-align: center;
	font-size: 64px;
	color: #fff;
	position: relative;
	text-shadow: 01px 1px #000;
	line-height: 100%;
	margin-bottom: 20px;
	padding-top: 30px;
}
.h2{
	text-align: center;
	font-size: 32px;
	color: #fff;
	position: relative;
	text-shadow: 01px 1px #000;
	margin-bottom: 20px;
}
.h3{
	text-align: center;
	border: 3px solid;
	font-size: 35px;
	height: 80px;
	line-height: 80px;
	margin: 30px auto 0;
	width: 500px;
	color: #fff;
	position: relative;
	text-shadow: 01px 1px #000;
}
.section{
	width: 100%;
	text-align: center;
}
.headersection{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 30px; 
}
.advantage{
	background-color: #fff;
}
h1{
	color: black;
	font-size: 28px;
	text-align: center;
	padding-top: 20px;
	color: #333;
}
h2{
	color: black;
	font-size: 17px;
	text-align: center;
	color: #333;
}
.section1{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	line-height: 150%;
	text-align: center;
	width: 940px;
	margin: 0 auto;
	color: #333;
}
.advan1{
	flex-basis: 30%
}
.advan2{
	flex-basis: 30%;
}
.advan3{
	flex-basis: 30%;
}
.title{
	font-size: 15px;
	text-align: center;
	margin: 0 auto;
	width: 640px;
	color: #333;
	padding-top: 30px;
	padding-bottom: 30px;
	line-height: 150%;
}
.place{
	background-color: #3D3D3D;
	background-image: url(../images/texsture.png); 
	width: 100%;
	color: #fff;
	padding: 30px 0;
	padding-bottom: 15px;
	line-height: 150%;
}
.place h1{
	color: #fff;
	padding-top: 0px;
	margin: 0;
}
.place h2{
	color: #fff;
	font-weight: normal;
}
.workplace{
	display: flex;
	line-height: 150%;
	font-size: 14px;
	width: 940px;
	text-align: center;
	margin: 0 auto;
}
.section2{
	flex-basis: 313.3px;
	margin-right: 20px;
	margin-bottom: 15px;
}
.flat{
	border: solid 7px #fff;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
	background: #f2f2f2;
	font-size: 64px;
	line-height: 120px;
	margin: 0 auto;
}
.fa{
	color: #0187bc;
}
.text{
	width: 280px;
	text-align: center;
	padding-top: 5px;
	margin: 0 auto;
	font-size: 14px;
}
.services{
	display: flex;
	line-height: 150%;
	width: 940px;
	text-align: center;
	margin: 0 auto;
}
.photo img{
	width: 323.328;
}
.services1{
	width: 300px;
	margin-right: 20px;
}
.title1{
	text-align: left;
	padding: 5px 0 0;
}
.title1 h1{
	margin: 5px auto;
	padding-bottom: 10px;
	text-align: left;
}
h3{
	font-size: 15px;
	padding: 5px 0 0;
	margin: 0 auto;
}
h4{
	font-size: 14px;
	padding: 5px 0 0;
	margin: 0 auto;
	font-weight: normal;
}
.aboutus{
	width: 640px;
	text-align: left;
	font-size: 14px;
	margin: 0 auto;
	line-height: 150%;
}
.aboutus h2{
	text-align: left;
	font-weight: 30;
	font-size: 23px;
}
.phone{
	border: 3px solid;
	text-align: center;
	background: rgb(0, 102, 153);
	width: 450px;
	margin: 0 auto;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.logo img{
	width: 130px;
}
.slogan{
	text-align: left;
	font-size: 14px;
	margin-left: 30px;
}
.number{
	font-size: 30px;
	text-align: left;

}